/* ============================================================
   CSS RESET
   ============================================================ */   
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
   strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
   embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
                          { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; font:inherit; }
   article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
                          { display:block; }
   body                   { line-height:1; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%; -moz-font-smoothing:antialiased; -o-font-smoothing:antialiased; }
   ol, ul                 { list-style:none; }
   blockquote, q          { quotes:none; }
   blockquote:before,
   blockquote:after,
   q:before, q:after      { content:''; content:none; }
   :focus                 { outline:0; }
   ins                    { text-decoration:none; }
   del                    { text-decoration:line-through; }
   table                  { border-collapse:collapse; border-spacing:0; }


/* ============================================================
   HEADING TAGS
   ============================================================ */  

h1, h2, h3, h4, h5, h6    { color:#414141; font-weight:normal; font-family:'Montserrat', sans-serif }
h1                        { text-align: center; margin: 30px 0 15px 0; font-size: 1.7em; font-weight: 400 }
h2                        { margin: 42px 0 0 0; font-size: 22px; font-weight: 700 }
h3                        { } /* Start your own mob text */
h4                        { font-size: 21px; font-weight: 700; text-shadow:0px 1px 0px rgba(255,255,255,0.9); color: #787878 }
h5                        { margin: 28px 0 0 0; font-size: 18px; font-weight: 700; color: #fff; text-shadow:0px 1px 0px #2b2b2b }


/* ============================================================
   ANCHOR TAGS
   ============================================================ */  

a                         { font-family:'Montserrat', sans-serif }
a:link                    { text-decoration:none}
a:visited                 { text-decoration:none}
a:hover                   { color: #e3e3e3 }
a:active                  { text-decoration:none}
a.menu-bar                { display:inline-block; list-style-type: none; color:#fff; text-shadow:0px 2px 0px rgba(0,0,0,0.75); font-size: 16px; text-transform:uppercase; }
a.login-name              { position:relative; top: -32px; padding: 0 0 0 60px; color:#fff; text-shadow:0px 2px 0px rgba(0,0,0,0.75); font-size: 14px }
a.login-toggle            { position:relative; top: -48px; margin: 0 0 0 145px; color: #9c9c9c; font-size: 0.6em; text-shadow:0px 2px 0px rgba(0,0,0,0.75) }
a.current-mob-start       { font-size: 17px; color:#414141; font-weight: 400; font-style: italic }
a.kickstarter             { }
a.future-mobs             { }
a.social-media            { }
a.copyright               { }


/* ============================================================
   PARAGRAPH TAGS
   ============================================================ */ 

p                         { font-family:'Montserrat', sans-serif }
p.current-mob-title       { display:inline-block; padding: 16px 0 0 22px; font-size: 1.6em; color:#fff; font-weight: 400 }
p.current-mob-time        { display:inline-block; padding: 0 0 0 220px; font-size: 0.9em; color:#fff; font-weight: 400 }  
p.mob-message             { position:relative; left: 13px; font-size: 1.1em; color:#fff; font-weight: 700; text-shadow:0px 1px 0px #cb9000; text-transform:uppercase }
p.warning-message         { }
p.current-mob-count       { }
p.mob-reward-large        { }
p.mob-reward-small        { }
p.mob-description         { }
p.mob-time                { }
p.mob-upload              { }


/* ============================================================
   TABLE TAGS
   ============================================================ */ 

table                     { margin-top: 28px }
td                        { font-family:'Montserrat', sans-serif }
tr                        { border-top: 1px solid #b1b1b1; padding: 0 0.5em }
td.col-1                  { padding: 1rem 0 1rem 0; text-align:left;  font-size:0.9rem; font-weight: 700; color: #414141 }
td.col-2                  { padding: 1rem 0 1rem 0; text-align:center; font-size:0.9rem; font-weight: 400; color: #414141 }
td.col-3                  { padding: 1rem 0 1rem 0; text-align:right; font-size:0.9rem; font-weight: 400; color: #787878 }


/* ============================================================
   LIST TAGS  
   ============================================================ */ 

li.nav                    { display: table-cell; height: 60px; width: 140px; line-height: 59px; text-align: left; white-space: nowrap }


/* ============================================================
   NAVIGATION BAR
   ============================================================ */ 

.nav                      { display: table; height: 60px; width: 100% }
.nav-background           { height: 60px; width: 100% 
                            background: -moz-linear-gradient(top, #4d4d4d 0%, #151515 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#151515)); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top, #4d4d4d 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top, #4d4d4d 0%,#151515 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top, #4d4d4d 0%,#151515 100%); /* IE10+ */
                            background: linear-gradient(to bottom, #4d4d4d 0%,#151515 100%); /* W3C */ }
.logo                     { background-image:url('../images/top_hat_logo.png'); background-repeat: no-repeat; margin: 15px 0 0 0; height: 30px; width: 164px }
.profile-pic              { background-image:url('../images/profile-picture.png'); background-repeat: no-repeat; margin: 4px 0 0 0; height: 50px; width: 50px }

.heading                  { position: relative; z-index: 10; width: 100%; height: 87px; color: #fff; border-bottom: solid 1px solid #d9d9d9;
                            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
                            -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
                            box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5) }


/* ============================================================
   MAIN BODY
   ============================================================ */ 
 
.main-background          { height: 580px; background-color: #f2f0ec }

.current-mob-pic          { background-image:url('../images/lg-pic.png'); margin: 30px 0 0 0; height: 400px; width: 620px }
.pic-description          { padding: 65px 0 0 0; background-color: #d0cdc7 }
/*.clock-icon               { background-image:url('../images/clock-icon.png'); height: 20px; width: 20px }*/

.ribbon-container         { padding-left:-6px}
.theribbon                { position: relative;top: 311px;width: 140px;padding: 10px 28px 10px 6px;margin: 30px 10px 10px -6px;color: #;background-color: #f9ce00;
                            -webkit-box-shadow: 0px 1px #cb9000;
                            -moz-box-shadow: 0px 1px #cb9000;
                            box-shadow: 0px 1px #cb9000 }
.theribbon:before, 
.theribbon:after          { content: ' ';position: absolute;width: 0;height: 0 }
.theribbon:after          { left: 0px;top: 100%;border-width: 5px 3px;border-style: solid;border-color: #f9ce00 #f9ce00 transparent transparent;}

.number-box               { margin: 30px 0 0 0; padding: 120px 140px 0 0; background-color: #d0cdc7 }
.number-info              { padding: 32px 140px 0 0; background-color: #b5aea3 }

.join-button              { top: 25px; position: relative; z-index: 10; display:inline-block; padding:30px 150px; border:1px solid #cb9100; color:#ffffff; font-family:Verdana; font-size:17px; text-shadow:0px 1px 0px #ac6a00;
                            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffdd00), color-stop(1, #eaa800)); background-color:#ffdd00;
                            background:-moz-linear-gradient(top, #ffdd00 5%, #eaa800 100%);
                            background:-webkit-linear-gradient(top, #ffdd00 5%, #eaa800 100%);
                            background:-o-linear-gradient(top, #ffdd00 5%, #eaa800 100%);
                            background:-ms-linear-gradient(top, #ffdd00 5%, #eaa800 100%);
                            background:linear-gradient(to bottom, #ffdd00 5%, #eaa800 100%);
                            -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
                            -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
                            box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
                            -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.4);
                            -moz-box-shadow:0px 3px 5px -2px rgba(0,0,0,0.4);
                            box-shadow:0px 3px 5px -2px rgba(0,0,0,0.4);
                            -moz-border-radius:8px;
                            -webkit-border-radius:8px;
                            border-radius:8px }
.join-button:hover        { background-color:#eaa800;
                            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eaa800), color-stop(1, #ffdd00));
                            background:-moz-linear-gradient(top, #eaa800 5%, #ffdd00 100%);
                            background:-webkit-linear-gradient(top, #eaa800 5%, #ffdd00 100%);
                            background:-o-linear-gradient(top, #eaa800 5%, #ffdd00 100%);
                            background:-ms-linear-gradient(top, #eaa800 5%, #ffdd00 100%);
                            background:linear-gradient(to bottom, #eaa800 5%, #ffdd00 100%) }
.join-button:active       { position:relative; top:25px }

.reward-box               { margin-left: 5px; width: 290px; padding: 75px 0 0 0; background-color: #fff; border:1px solid #b1b1b1;
                            -webkit-box-shadow:inset 0px -5px 0px -2px rgba(177,177,177,0.25);
                            box-shadow:inset 0px -5px 0px -2px rgba(177,177,177,0.25);
                            -webkit-border-radius: 0 0 8px 8px;
                            border-radius: 0 0 8px 8px }

.line-small               { position: relative; top: 60px; height:1px; width: 300px; background:#b1b1b1 }

.twitter-icon             { background-image:url('../images/twitter-icon.png'); background-repeat: no-repeat; display: inline-block; height: 20px; width: 55px; margin: 80px 0 0 0 }
.facebook-icon            { background-image:url('../images/facebook-icon.png'); background-repeat: no-repeat; height: 20px; width: 44px; margin: 80px 0 0 0; display: inline-block; margin-left: 5px }
.google-plus-icon         { background-image:url('../images/google-plus-icon.png'); background-repeat: no-repeat; height: 20px; width: 34px; margin-top: 80px; display: inline-block; margin-left: 5px }


/* ============================================================
   LOWER BODY
   ============================================================ */ 

.lower-background-top     { position: relative; z-index: 4; height: 300px; background-color: #fff;
                            -webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.1);
                            -moz-box-shadow:0px -1px 1px 0px rgba(0,0,0,0.1);
                            box-shadow:0px -1px 1px 0px rgba(0,0,0,0.1) }

.watch-picture            { background-image:url('../images/watch-picture.png'); display: inline-block; margin-top: 40px; height: 195px; width: 300px }
.ruths-chris-picture      { background-image:url('../images/ruths-chris-picture.png'); display: inline-block; margin-top: 40px; height: 195px; width: 300px }
.twisted-sister-picture   { background-image:url('../images/twisted-sister-picture.png'); display: inline-block; margin-top: 40px; height: 195px; width: 300px }

.lower-background-bottom  { height: 310px; background-color: #fff }
.line-big                 { position:relative; top:20px; height:1px; width: 940px; background:#b1b1b1 }

.start-box                { margin-top: 42px; height:210px; background-color: #d0cdc7 }
.connecting-line          { position:relative; top:36px; left: 55px; z-index: 0; width:205px; height: 8px; background-color: #bdbbb5 }
.round-button-1           { position: relative; left:25px; top:20px; z-index: 1; float: left; width:38px; height:38px; line-height:38px; border: 1px solid #9e9c97; border-radius: 50%; box-shadow: inset 0px -5px 0px -2px rgba(177,177,177,0.25); text-align: center; box-shadow: 0 0 3px rgba(0,0,0,0.6); font-size: 20px; font-weight: bold;
                            background: -moz-linear-gradient(top,  #d5d5d5 0%, #f5f5f5 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* IE10+ */
                            background: linear-gradient(to bottom,  #d5d5d5 0%,#f5f5f5 100%); /* W3C */
                            -webkit-box-shadow: inset 0 3px 0 rgba(255,255,255,0.6) }
.round-button-2           { position: relative; left:88px; top:20px; z-index: 1; float: left; width:38px; height:38px; line-height:38px; border: 1px solid #9e9c97; border-radius: 50%; box-shadow: inset 0px -5px 0px -2px rgba(177,177,177,0.25); text-align: center; box-shadow: 0 0 3px rgba(0,0,0,0.6); font-size: 20px; font-weight: bold;
                            background: -moz-linear-gradient(top,  #d5d5d5 0%, #f5f5f5 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* IE10+ */
                            background: linear-gradient(to bottom,  #d5d5d5 0%,#f5f5f5 100%); /* W3C */
                            -webkit-box-shadow: inset 0 3px 0 rgba(255,255,255,0.6) }
.round-button-3           { position: relative; left:150px; top:20px; z-index: 1; float: left; width:38px; height:38px; line-height:38px; border: 1px solid #9e9c97; border-radius: 50%; box-shadow: inset 0px -5px 0px -2px rgba(177,177,177,0.25); text-align: center; box-shadow: 0 0 3px rgba(0,0,0,0.6); font-size:20px; font-weight:bold;
                            background: -moz-linear-gradient(top,  #d5d5d5 0%, #f5f5f5 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top,  #d5d5d5 0%,#f5f5f5 100%); /* IE10+ */
                            background: linear-gradient(to bottom,  #d5d5d5 0%,#f5f5f5 100%); /* W3C */
                            -webkit-box-shadow: inset 0 3px 0 rgba(255,255,255,0.6) }


/* ============================================================
   FOOTER
   ============================================================ */ 

.footer-background        { height: 340px; background-color: #545352 }
.category-button          { margin: 15px 0 0 0; display: inline-block; padding: 20px 70px; background-color: #636362; color: #fff; font-family: arial; font-size: 17px; text-shadow: 0px 1px 0px #2b2b2b; border: 1px solid #373737;
                            -moz-box-shadow: inset 0px 1px 0px 0px #929291;
                            -webkit-box-shadow: inset 0px 1px 0px 0px #929291;
                            box-shadow: inset 0px 1px 0px 0px #929291;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            border-radius: 4px }
.category-button:hover    { background-color:#7d7d7d }
.category-hover:active    { position:relative; top:1px }

input.email {
   margin: 91px 0 0 0;
   -moz-box-shadow:inset 0px 2px 12px -7px #000000;
   -webkit-box-shadow:inset 0px 2px 12px -7px #000000;
   box-shadow:inset 0px 2px 12px -7px #000000;
   background-color:#ffffff;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px 0 0 5px;
   border:0px;   
   cursor:pointer;
   color:#787878;
   font: font-family: 'Montserrat', sans-serif; font-weight: 400;
   font-size:13px;
   padding:19px 24px;
   background-color: #fff;
}

/*input.placeholder:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}*/

/*.email:hover {
   background-color:#ffffff;
}

.email:active {
   position:relative;
   top:1px;
}*/

input.submit {
   margin: -21px 0px 0px 188px;
   -moz-box-shadow:inset 0px 2px 12px -7px #000000;
   -webkit-box-shadow:inset 0px 2px 12px -7px #000000;
   box-shadow:inset 0px 2px 12px -7px #000000;
   background-color:#ffffff;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:0 5px 5px 0;
   border:0px;   
   cursor:pointer;
   color:#9d9d9d;
   font: font-family: 'Montserrat', sans-serif; font-weight: 400;
   padding:19px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #ffffff;
   background-color: #9d9d9d;
}

/*.submit:hover {
   background-color:#ffffff;
}

.submit:active {
   position:relative;
   top:1px;
}*/